
div{
    padding: 5px;
    box-sizing: border-box;
}
.dimgray{
    background: dimgray;
}

.darkgray{
    background: darkgray;
}

.gray {
    background: #d0cccc;
}
.red{
    background: mediumvioletred;
}
.blue{
    background: #4991e0;
}

.white{
    background: white;
}
.padding{
    padding: 5px;
    box-sizing: border-box;
}
.body {

    height: 768px;
    width: 100%;
}

.header{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: flex-end;

}

.nav{
    height: 70%;
    width: 100%;

}

.content{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.section1{
    height:100%;
    width: 30%;
}

.section2{
    height: 100%;
    width: 70%;
}

.article{
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
   justify-content: space-around;
}

.paragraph{
    width: 100%;
    height: 50%;
    display: flex;
}

.aside{
    height: 100%;
    width: 40%;

}

.footer{
    height: 15%;
    width: 100%;
}

.p{
    height: 25%;
    width: 100%;
}

.p1{
    height: 100%;
    width: 60%;
}